#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1368R.
#

# Period Constraints 
#FREQUENCY NET "F/xclk" 2.1 MHz;
#FREQUENCY PORT "RA5" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "F/xclk" TO CLKNET "RA5_c";
#BLOCK PATH FROM CLKNET "RA5_c" TO CLKNET "F/xclk";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
